{% extends 'base.html' %}
{% load static %}
<body>
{% block title %}
Books
{% endblock title %}


{% block header %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static '/js/index.js' %}"></script>

<div class="container">
<div class="row h-50 justify-content-center">
<h1 class="title">Books<h1>
</div>
</div>


<div class="container">
<div class="row h-50 justify-content-center">


<div class="container">
<div class="row h-50 justify-content-center">
<a href="{% url "login" %}"><i class="fas fa-user fa-3x icon-title"></i></a>
<div class="col-md-6 justify-content-center">
	<form class="input" id="usertext-form"  method='GET'>
		{% csrf_token %}
		<div class="input-group input-group">
			<input type="text" name="query" class="form-control" onkeydown=myFunc() id="submit" placeholder="Search a book,an author.." aria-describedby="search" autocomplete="off">
			{% csrf_token %}
		</div>
	</form>
</div>

<a href="{% url "favorite" %}"><i class="fas fa-book fa-3x icon-title"></i></a>

</div>
</div>
</div>
	
<div class="container  col-sd-8 text-left">
<div class="margin-mid"></div>
	<div class="margin-mid"></div>
	<div class="imessages-title"></div>	
  <div class="title_cat"><a>Registration</a></div>
	<div class="response_boxe" id="imessages-text">
	<div class="imessages-description  body" id="imessages-description">
	<div class="margin"></div>

	
	<div class="container my-auto">

		  <div class="row justify-content-center">
      
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">S'enregistrer</button>
        </form>

	
	</div>
	
	
	</div>
	</div>
	</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	function myFunc() {
		
    	$('#imessages-description').empty()
		$('#imessages-text').empty()
	}
</script>
<script>
	inputForm();
</script>



{% endblock header %}

{% block content%}
 
{% endblock content%}

</body>
