{% extends 'base.html' %}
{% load static %}
<body>
{% block title %}
Books
{% endblock title %}


{% block header %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static '/js/index.js' %}"></script>


<div class="container">
<div class="row h-50 justify-content-center">
<h1 class="title">Books<h1>
</div>
</div>



<div class="container">
<div class="row h-50 justify-content-center">

<div class="col-md-8 justify-content-center">
	<form class="input" id="usertext-form"  method='GET'>
		{% csrf_token %}
		<div class="input-group input-group">
			<input type="text" name="query" class="form-control" onkeydown=myFunc() id="submit" placeholder="enter category" aria-describedby="search" autocomplete="off">
			{% csrf_token %}
		</div>
	</form>
</div>
<a  href="{% url "favorite" %}"><i class="fas fa-book fa-3x"></i></a>
</div>
</div>
</div>
	<div class="margin"></div>

<div class="container col-md-6 text-center">
	<div class="imessages-title"><div class="text-center" id="imessages-text">{{title}}</div></div>
	<div class="imessages-description text-justify" id="imessages-description">{{ picture | safe }}
	<div class="margin"></div>
	<div class="response_box" id="imessages-text">{{ desc }}{{result}}
	<form action="{% url  'save_book' book_id %}" method="post">
				{% csrf_token %}
				<div class="col">
					<button type="submit" style="border: 0; background: none;">
						<i class="button far fa-save fa-1x"></i>
						<a class="links text-white">Sauvegarder</a>
					</button>
				</div>
	</div>
</div>
<div class="row justify-content-center">


</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	function myFunc() {
		
    	$('#imessages-description').empty()
		$('#imessages-text').empty()
	}
</script>
<script>
	inputForm();
</script>



{% endblock header %}

{% block content%}
 
{% endblock content%}

{% block social %}
{% endblock social%}
</body>
