{% extends 'base.html' %}

{% load static %}


<body>
{% block title %}
Books
{% endblock title %}


{% block header %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static '/js/index.js' %}"></script>

<div class="container">
<div class="row h-50 justify-content-center">
<h1 class="title">Books<h1>
</div>
</div>


<div class="container">
<div class="row h-50 justify-content-center">


<div class="container">
<div class="row h-50 justify-content-center">
<a href="{% url "login" %}"><i class="fas fa-user fa-3x icon-title"></i></a>
<div class="col-md-6 justify-content-center">
	<form class="input" id="usertext-form"  method='GET'>
		{% csrf_token %}
		<div class="input-group input-group">
			<input type="text" name="query" class="form-control" onkeydown=myFunc() id="submit" placeholder="Search a book,an author.." aria-describedby="search" autocomplete="off">
			<button class="btn btn-primary" id="button_design" >Search</button>
			{% csrf_token %}
		</div>
	</form>
</div>

<a href="{% url "favorite" %}"><i class="fas fa-book fa-3x icon-title"></i></a>

</div>
</div>
</div>
	
<div class="container col-sd-8 text-left">
<div class="margin"></div>
	
	<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="myFunction()" check>
  <label class="custom-control-label" for="customSwitch1">Dark Mode</label>

  
</div>
	<div class="imessages-title "><div class="title_cat mx-auto" id="imessages-text">{{title}}</div></div>
	
	<div class="margin-mid"></div>
	<div class="imessages-description text-justify" id="imessages-description"><div><img class="picture_detail" src={{ picture_detail }}></img></a></div>
	<div class="response_boxe" id="imessages-text">{{ desc }}<a href="{% url "save_book" book_id %}" method="post" title="Enregistrer" id="icon"><i class="fas fa-save fa-1x icon"></i></i></a></i></a>
	
	<div class="margin-mid"></div>
	<div class="imessages-author"><div class="text-right" id="imessages-text">{{book_author}}</div></div>
</div></div>
<div class="margin-mid"></div>
<div class="row justify-content-center">


</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	function myFunc() {
		
    	$('#imessages-title').html('');	
	}
</script>
<script>
	inputForm();
</script>

<script>
function myFunction() {
  var element = document.body;
  element.classList.toggle("dark-mode");
}
</script>


{% endblock header %}

{% block content%}
 
{% endblock content%}

{% block social %}
{% endblock social%}
</body>
