
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% load ratings %}
<body>

{% block title %}
Books
{% endblock title %}


{% block header %}

<!--Links Section-->
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/menu.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static '/js/index.js' %}"></script>
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>


<!--Menu Section-->
<div class="container">
<div class="col-md-3">
<nav>
  <div class="navicon">
    <div></div>
  </div>
  <a href="{% url "login" %}"><ab>Account</ab></a>
  <a href="{% url "login" %}"><ab>Login</ab></a>
  <a href="{% url "signup" %}"><ab>Sign-up</ab></a>
</nav>
</div>



<!--Title section-->
<div class="col-md-3 text-right">
{% if user.is_authenticated %}
<a href="{% url "logout" %}"><i class="fas fa-sign-out-alt"></i></a></b><b> Logged as
{{ user.username }}
{% endif %}
</div>
<div class="row h-50 justify-content-center">
<a href="{% url "home" %}">
<h2 class="title">Books</h2></a>
</div>


<!--Search section-->

<div class="container">
<div class="row h-50 justify-content-left">
<div class="container">
<div class="row h-50 justify-content-center align-items-center">
<div class="col-md-6">

	<form class="input" id="usertext-form"  method='GET'>
		{% csrf_token %}
		
		<div class="input-group input-group">
			<input type="text" name="query" class="form-control" onkeydown=myFunc() id="submit" placeholder="Search a book,an author.." aria-describedby="search" autocomplete="off">
			<button class="btn btn-primary button_home" id="button_design" >Search</button>
			{% csrf_token %}
		</div>	
	</form>	
</div>
<div>
<a href="{% url "favorite" %}"><i class="far fa-heart fa-2x icon-title"></i></a>
</div>

<!-- Description section -->
<div class="container col-sd-8 text-left">

<div class="margin"></div>
<div class="custom-control custom-switch">
  		<input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="myFunction()" check>
  		<label class="custom-control-label" for="customSwitch1">n/m</label>
	</div>
	<div class="imessages-title" id="imessages-title">
	
	</div>
	
	<div class="title_cat_home text-left" id="imessages-text">{{object.book_name}}</div>
	<div class="box">
	<div class="tags" style="display:flex">
			{% for tag in object.tags.all %}
			<a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
			{% endfor %}
	</div>
	<div class="margin-mid"></div>
	<div class="imessages-description text-justify" id="imessages-description">
			<div class="picture-detail">
            <div class="picture-book_detail"><img class="picture_detail" src={{ object.picture_detail }}>
			</img></a></div><div>{{object.description}}</div>
			<div class="margin-mid"></div>
			
			<div class="imessages-author"><div class="text-right" id="imessages-text"><a href="{% url "save_book" object.google_id %}" method="post" title="Enregistrer" id="icon"><i class="fas fa-download download"></i></a></a>{{object.author}}</div></div>
			</div>
			
	</div>
	<div class="margin-mid"></div>
	{% if user.is_authenticated %}
	<form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label><b>Set tags :</b></label>
                    <input type="text" data-role="tagsinput" class="form-control" name="tags">
					<div class="margin-mid_2"></div>
					<button type="submit" class="btn btn-primary btn-sm button_home">save</button>
                </div>
    </form>
	{%endif%}
	</div>
	
	<div class="margin-mid"></div>
	 <div class="row">
            <div class="col text-center">
	{% ratings object %}
	<div class="margin-mid_2"></div>
        </div>
	</div>

<!--Tag section-->
	<div class="box">
	<div class="container">
	
	
	</div>

<!--Comment section-->

			<div class="container text-center"> 
			
			<b>{{comments.count}} Comment{{comments|pluralize}}</b>
			<div class="col text-left">
			<div class="margin-mid"></div>

			{% for comment in comments %}
      		<div class="comment">
    		<a>{{ comment.content|capfirst}}</a></div>
			<div class="auth_comment">
			<b> By {{comment.user|capfirst}}</b> {{comment.timestamp}}
			<div class="margin-mid"></div>
			</div>
			{% endfor %}

{% if user.is_authenticated %}
			<form method="POST"> 
				{% csrf_token %} 
				{{comment_form.as_p}} 
				<button type="submit" class="btn btn-primary btn-sm button_home">post</button>
			</form> 
			</div>
			</div>
{%endif%}
<!--End of comment section-->
		</div>
	</div>
	</div>
	</div>
	</div>
</div>
</div>



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--Script clean div-->

<script>
	function myFunc() {
		
    	$('#imessages-title').html('');
	
	}
</script>

<!--Script input form-->

<script>
	inputForm();
</script>

<!--Script darkmode-->

<script>
function myFunction() {
  var element = document.body;
  element.classList.toggle("dark-mode");
}
</script>

<!--Script tagsinput-->
 <script>
    $("#post-form").submit(function(e){
        e.preventDefault();
        });</script>

{% endblock header %}

{% block content%}
 
{% endblock content%}

</body>
