
{% extends 'base.html' %}
{% load static %}

<body>

{% block title %}
Books
{% endblock title %}


{% block header %}


<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static '/js/index.js' %}"></script>



<div class="container">
{% if user.is_authenticated %}
<a href="{% url "logout" %}"><i class="fas fa-sign-out-alt"></i></a></b><b> Logged as
{{ user.username }}
{% endif %}
<div class="row h-50 justify-content-center">
<div class="margin-mid"></div>
</div>
</div>
 

<div class="container">
<div class="row h-50 justify-content-center">


<div class="container">
<div class="row h-50 justify-content-center">

<div class="col-md-6">
<div class="row justify-content-center">
<div class="title_2"></div>
<h2 class="title">MyBooks</h2>
</div>
</div>


</div>
</div>
</div>
	
<div class="container col-sd-8 text-left">
<div class="margin"></div>


	<div class="imessages-title">
	<div class="title_cat"><a>My Books</a></div>
	
	<div class="response_box" id="imessages-text">
	<div class="imessages-description" id="imessages-description">
	
	
	{%for book in books%}
	<form action="{% url 'remove_book' book_id=book.id  %}" id="myform" method="POST">
	{% csrf_token %}
</button type="submit" id="myform">

</button><div class="img-wrap">
  
		{{book.picture|safe}}
		<span class="close">&times;</span>
		</form>
		</div>
		{% endfor %}
	
</div>
<div class="row justify-content-center">


</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

var closeBtns = document.querySelectorAll('.img-wrap .close')

for (var i = 0, l = closeBtns.length; i < l; i++) {
  closeBtns[i].addEventListener('click', function() {
    var imgWrap = this.parentElement;
    imgWrap.parentElement.removeChild(imgWrap);
	document.getElementById('myform').submit()
	
  });
}

</script>


{% endblock header %}

{% block content%}
 
{% endblock content%}

{% block social %}
{% endblock social%}
</body>
