{% extends 'base.html' %}
{% load static %}
<body>
{% block title %}
Books
{% endblock title %}


{% block header %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static '/js/index.js' %}"></script>


<div class="container">


{% if user.is_authenticated %}
<a href="{% url "logout" %}"><i class="fas fa-sign-out-alt"></i></a></b><b> Logged as
{{ user.username }}
{% endif %}
<div class="row h-50 justify-content-center">
<h1 class="title">Books<h1>
</div>
</div>


<div class="container">
<div class="row h-50 justify-content-center">


<div class="container">
<div class="row h-50 justify-content-center">
<a href="{% url "login" %}"><i class="fas fa-user fa-3x icon-title"></i></a>
<div class="col-md-6 justify-content-center">
	<form class="input" id="usertext-form"  method='GET'>
		{% csrf_token %}
		<div class="input-group input-group">
			<input type="text" name="query" class="form-control" onkeydown=myFunc() id="submit" placeholder="Search a book,an author.." aria-describedby="search" autocomplete="off">
			<button class="btn btn-primary" id="button_design" >Search</button>
			{% csrf_token %}
		</div>
	</form>
</div>

<a href="{% url "favorite" %}"><i class="fas fa-book fa-3x icon-title"></i></a>

</div>
</div>
</div>
	
<div class="container  col-sd-8 text-left">
<div class="margin-mid"></div>
	<div class="margin-mid"></div>
	<div class="imessages-title" id="imessages-title">
	
	</div>

	<div class="title_cat"><a>New</a></div>
	<div class="response_box " id="imessages-text">

	{%for best_book_1 in best_books_1%}

	{{best_book_1.picture|safe}}

	{% endfor %}
	
	</div>
	<div class="title_cat"><a>Top</a></div>
	
	<div class="response_box" id="imessages-text">

	{%for best_book_2 in best_books_2%}

	{{best_book_2.picture|safe}}

	{% endfor %}
	
	</div>
	
</div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	function myFunc() {
		
    	$('#imessages-title').html('');

	}
</script>
<script>
	inputForm();
</script>



{% endblock header %}

{% block content%}
 
{% endblock content%}

</body>
