

{% extends 'base.html' %}
{% load static %}
<body>
{% block title %}
Books
{% endblock title %}


{% block header %}
<!--Links Section-->

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/menu.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static '/js/index.js' %}"></script>
<script src="{% static '/js/main.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>


<!--Menu Section-->

<div class="container">
<div class="col-md-3">
{% if user.is_authenticated %}
<a href="{% url "logout" %}"><i class="fas fa-sign-out-alt"></i></a></b><b> Logged as
{{ user.username }}
{% endif %}
</div>
<div class="col-md-3">
<nav>
  <div class="navicon">
    <div></div>
  </div>
  <a href="{% url "login" %}"><ab>Account</ab></a>
  <a href="{% url "login" %}"><ab>Login</ab></a>
  <a href="{% url "signup" %}"><ab>Sign-up</ab></a>
</nav>
</div>

<!--title section-->

<div class="row h-50 justify-content-center">

<a href="{% url "home" %}">
<h2 class="title">Books</h2></a>

</div>

<!--content section-->
	
<div class="container  col-sd-8 text-left">
<div class="margin-mid"></div>
	<div class="margin-mid"></div>
	<div class="imessages-title"></div>	
  <div class="title_cat"><a>Registration</a></div>
	<div class="response_boxe" id="imessages-text">
	<div class="imessages-description  body" id="imessages-description">
	<div class="margin"></div>

	<div class="container my-auto justify-content-center">
		  <div class="col justify-content-center text-align-center">
  

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!">
  </form>
</div>

	</div>
	
	
	</div>
	</div>
	</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	function myFunc() {
		
    	$('#imessages-description').empty()
		$('#imessages-text').empty()
	}
</script>
<script>
	inputForm();
</script>



{% endblock header %}

{% block content%}
 
{% endblock content%}

</body>
